<%- include("partials/header") %>
    <style>
        a {
            text-decoration: none;
        }
    </style>
    <h1>Home</h1>
    <p>
        <%= homeStartingContent %>
    </p>
    <br>
    <p style="display: none;">
        <%=body %>

    </p>
    <% for(let i=0;i<body.length;i++){ %>
        <h1>

            <%= body[i].title %>
        </h1>
        <br>
        <p>
            <% finalString=body[i].body.slice(0,100)+"...."; %>
                <%= finalString %>
        </p>
        <% }%>
            <%- include("partials/footer") %>